[package]
name = "jacrt"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true

[lib]
name = "jacrt"
crate-type = ["cdylib"]

[dependencies]
anyhow = { workspace = true }
javy-plugin-api = { path = "../plugin-api", features = ["json"] }